
 <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#tab_allrecipes">Все рецепты</a></li>
        <li class="tab col s3"><a class="active" href="#tab_myrecipes">Мои рецепты</a></li>
        <li class="tab col s3"><a class="active" href="#tab_loverecipes">Любимые рецепты</a></li>
      </ul>
    </div>
 </div>

  <div id="tab_allrecipes" class="col s12">
      <%= render "tab_allrecipes" %>
  </div>

  <div id="tab_myrecipes" class="col s12">
      <%= render "tab_myrecipes" %>
  </div>

  <div id="tab_loverecipes" class="col s12">
      <%= render "tab_loverecipes" %>
  </div>





