  <h3 class="header"> Теги </h3>

  <% tag_cloud(@alltags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
      <div class="chip"><h6><%= link_to tag.name, tag_path(tag.name), :class => css_class %></h6></div>
  <% end %>


   <% @alltags.each do |most| %>
	<div class="chip">
	<h6><%= link_to most.name, tag_path(most.name) %>  </h6></div>


   <% end %>